# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
venv/
ENV/
.pytest_cache/

# SQLite & Logs
*.log

# Operating System
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editors
.vscode/
.idea/
*.swp
*.swo
